<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4"
	     xmlns="http://java.sun.com/xml/ns/j2ee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
	   <filter-name>demo-auth</filter-name>
	   <filter-class>jwiki.demo.DemoBasicAuthFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>demo-auth</filter-name>
		<url-pattern>/wiki/*</url-pattern>
	</filter-mapping>

	<servlet>
	   <servlet-name>jwiki</servlet-name>
	   <servlet-class>jwiki.core.WikiServlet</servlet-class>
	   <init-param>
		   <param-name>template-page</param-name>
		   <param-value>/WEB-INF/pages/jwiki-template.jspx</param-value>
	   </init-param>
	</servlet>

	<servlet-mapping>
	   <servlet-name>jwiki</servlet-name>
	   <url-pattern>/wiki/*</url-pattern>
	</servlet-mapping>

</web-app>
