
* { font-size: 10pt; font-family: sans-serif; }

BODY {
    margin: 0px;
    padding: 8px;
    color: #000000;
    background-color: #ffffff;
}

FORM { margin: 0px; padding: 0px; }

A:link, A:visited, A:active { color: #000000; }
A:hover { color: #ff0099; }

H1 { font-size: 20pt; padding: 0px; margin: 8px 0px 8px 0px; }
H2 { font-size: 16pt; padding: 0px; margin: 8px 0px 8px 0px; }
H3 { font-size: 12pt; padding: 0px; margin: 8px 0px 8px 0px; }
H4 { font-size: 10pt; padding: 0px; margin: 8px 0px 8px 0px; }
H5 { font-size: 9pt;  padding: 0px; margin: 8px 0px 8px 0px; }
H6 { font-size: 8pt;  padding: 0px; margin: 8px 0px 8px 0px; }

.jwiki-bold { font-weight: bold; color: #990066; }
.jwiki-strike { text-decoration: line-through; color: #ff0000; }
.jwiki-underline { text-decoration: underline; color: #000099; }

.jwiki-button { padding: 0px 4px 0px 4px; }
.jwiki-current { background-color: #ffeecc; }
.jwiki-error-message { color: #ff0000; }

TABLE.jwiki-index, TABLE.jwiki-index TH, TABLE.jwiki-index TD {
	border-collapse: collapse;
	border: 1px solid #000000;
}

TABLE.jwiki-index TH {
	background-color: #f0f0f0;
	font-weight: bold;
	text-align: middle;
}

.jwiki-code { font-family: 'Source Code Pro', monospace; }

.jwiki-code-block {
	margin: 8px 0px 8px 0px;
	padding: 4px;
	background-color: #f0f0f0;
    border: 1px solid #666666;
}

TABLE.jwiki-solid, TABLE.jwiki-solid TH, TABLE.jwiki-solid TD {
    border-collapse: collapse;
    border: 1px solid #000000;
}

TABLE.jwiki-solid TH {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: middle;
}

TABLE.diff {
    border-collapse: collapse;
}

TABLE.diff TH { text-align: left; padding: 0px 0px 0px 8px; }
	
.diff-rdiv {
  border-style: solid;
  border-color: #cccccc;
  border-width: 0px 1px 0px 0px;
}

.diff-left-only-even { background-color: #fff0f0; }
.diff-left-only-odd  { background-color: #ffe0e0; }

.diff-right-only-even { background-color: #f0fff0; }
.diff-right-only-odd  { background-color: #e0ffe0; }

.diff-line-no {
	min-width: 20px;
	text-align: right;
	border-style: solid;
	border-width: 0px 2px 0px 0px;
	border-color: #999999;
}
 