
.jwiki-bold { font-weight: bold; color: #990066; }
.jwiki-strike { text-decoration: line-through; color: #ff0000; }
.jwiki-underline { text-decoration: underline; color: #000099; }

.jwiki-spacer { padding: 0pt 4pt 0pt 4pt; }
.jwiki-current { background-color: #ffeecc; }
.jwiki-error-message { color: #ff0000; }

TABLE.jwiki-index {
	border-collapse: collapse;
}

TABLE.jwiki-index, TABLE.jwiki-index TH, TABLE.jwiki-index TD {
	border: 1pt solid #000000;
}

TABLE.jwiki-index TH, TABLE.jwiki-index TD {
	padding: 2pt;	
}

TABLE.jwiki-index TH {
	background-color: #dddddd;
	font-weight: bold;
	text-align: middle;
}

.jwiki-code { font-family: 'Source Code Pro', monospace; }

.jwiki-code-block {
	margin: 8pt 0pt 8pt 0pt;
	padding: 4pt;
	background-color: #f0f0f0;
    border: 1pt solid #666666;
}

TABLE.jwiki-solid {
    border-collapse: collapse;
}

TABLE.jwiki-solid, TABLE.jwiki-solid TH, TABLE.jwiki-solid TD {
    border: 1pt solid #000000;
}

TABLE.jwiki-solid TH, TABLE.jwiki-solid TD {
	padding: 2pt;	
}

TABLE.jwiki-solid TH {
    background-color: #dddddd;
    font-weight: bold;
    text-align: middle;
}

TABLE.jwiki-solid .jwiki-thick {
	border-left-width: 2pt;
}

TABLE.diff {
    border-collapse: collapse;
}

TABLE.diff TH { text-align: left; padding: 0pt 0pt 0pt 8pt; }
	
.diff-rdiv {
  border-style: solid;
  border-color: #cccccc;
  border-width: 0pt 1pt 0pt 0pt;
}

.diff-left-only-even { background-color: #ffe0e0; }
.diff-left-only-odd  { background-color: #ffc0c0; }

.diff-right-only-even { background-color: #e0ffe0; }
.diff-right-only-odd  { background-color: #c0ffc0; }

.diff-line-no {
	min-width: 20pt;
	text-align: right;
	border-style: solid;
	border-width: 0pt 2pt 0pt 0pt;
	border-color: #999999;
}

.jwiki-doc {
	margin: 8pt 0pt 8pt 0pt;
	padding: 4pt 8pt 4pt 8pt;
	border-width: 1pt 1pt 1pt 4pt;
	border-style: solid;
	border-color: #6666cc;
	background-color: #f9f9f9;
}